<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- CSS only -->
    <link rel="stylesheet" href="/Libraries/bootstrap.css">
    <link rel="stylesheet" href="/pricingAndCoding.css">
    <link rel="stylesheet" href="/loader.css">

    <!-- JS, Popper.js, and jQuery -->
     <script src="/Libraries/jquery.js"></script>   
     <script src="/Libraries/popper.js"></script>    
     <script src="/Libraries/bootstrap.js"></script>    
     <script src="/pricingAndCoding.js"></script> 
     <script src="/loader.js"></script> 

     <script>
         function del(specific_code){
        
        $.get(`/api/pricingAndCodificationChart/delete/${specific_code}`,()=>{
            let row=$(`#${specific_code}`)
            row.remove()
        })
    }
    </script>

    <title>Pricing And Codification Chart</title>
    
</head>
<body>
  {{!-- screen loader --}}
  <div class="loader-wrapper">
    <div class="loader"></div>
        <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
{{!-- screen loader end here --}}

    <h3 class="h3_style mt-4 mb-4" style="margin-left:800px">Pricing and Codification Chart</h3>
    <table class="table table-bordered" id="myTable">
    <thead>
        <tr>
            <th scope="col">Name & address of supplier</th>
            <th scope="col">Name of item</th>
            <th scope="col">HSN code</th>
            <th scope="col">Purchase Rate(Rs.)</th>
            <th scope="col">GST Percent</th>
            <th scope="col">Addon Charges(Rs.)</th>
            <th scope="col">Purchase cost</th>
            <th scope="col">Specific code</th>
            <th scope="col">Cost multiply factor</th>
            <th scope="col">Tentative sale price</th>
            <th scope="col">P&F Charges</th>
            <th scope="col">GST Quotient</th>
            <th scope="col">GST per unit</th>
            <th scope="col">Discounted price</th>
            <th scope="col">Discount % age</th>
            <th scope="col">Basic sale price</th>
            <th scope="col">Total sale price</th>
            <th scope="col">Previous stock</th>
            <th scope="col">Current supply</th>
            <th scope="col">Current stock</th>
            <th scope="col">Quantity sold</th>
            <th scope="col">Net stock balance</th>
            <th class="noprint"></th>
        </tr>
    </thead>
    
    <tbody id="data_body">
        {{#each data as |d|}}
        <tr id={{d.specific_code}}>
            <td>{{d.supplier_info}}</td>
            <td>{{d.name_of_item}}</td>
            <td>{{d.hsn_code}}</td>
            <td>{{d.purchase_rate}}</td>
            <td>{{d.gst_percent}}</td>
            <td>{{d.addon_charge}}</td>
            <td>{{d.purchase_cost}}</td>
            <td>{{d.specific_code}}</td>
            <td>{{d.cost_multiply_factor}}</td>
            <td>{{d.tentative_sale_price}}</td>
            <td>{{d.p_and_f_charge}}</td>
            <td>{{d.gst_quotient}}</td>
            <td>{{d.gst_per_unit}}</td>
            <td>{{d.discount_price}}</td>
            <td>{{d.discount_percent}}</td>
            <td>{{d.basic_sale_price}}</td>
            <td>{{d.total_sale_price}}</td>
            <td>{{d.previous_stock}}</td>
            <td>{{d.current_supply}}</td>
            <td>{{d.current_stock}}</td>
            <td>{{d.quantity_sold}}</td>
            <td>{{d.net_stock_balance}}</td>
            <td class="noprint">
                <button type="button" onclick='del({{d.specific_code}})' class="btn btn-danger myBtn">Delete</button>
            </td>
        </tr>
        {{/each}}
        </tbody>
        <tbody>
            <tr class="noprint">
                <td><input id="supplier_info"></td>
                <td><input id="name_of_item"></td>
                <td><input  id="hsn_code"></td>
                <td><input  id="purchase_rate"></td>
                <td><input id="gst_percent"></td>
                <td></td>
                <td></td>
                <td><input id="specific_code"></td>
                <td><input id="cost_multiply_factor"></td>
                <td></td>
                <td><input id="p_and_f_charges"></td>
                <td><input id="gst_quotient"></td>
                <td></td>
                <td></td>
                <td><input id="discount_percent"></td>
                <td></td>
                <td></td>
                <td><input id="previous_stock"></td>
                <td><input id="current_supply"></td>
                <td></td>
                <td><input id="quantity_sold"></td>
                <td><input id="net_stock_balance"></td>
                <td>
                    <button type="button" id="addBtn" class="btn btn-success myBtn">Add</button>
                </td>
            </tr>
        </tbody>
    </table>

    </body>
</body>
</html>







